body{
    margin: 0;
    padding: 0;
}
.Button:hover{
    background-color: rgb(51,50,50);
    
}
@media (max-width:420px) {
    .images{
        flex-direction: column;
    }
    .gallery{
        text-align: center;
    }
    
}